body {
    margin: 0;
    padding: 0;
    background: rgb(138, 50, 221);
    color: rgb(255, 255, 255);
    font-family: "Trebuchet MS", Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background-color: rgb(69, 69, 209);
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: solid rgb(135, 230, 97) 5px;
    font-size: 100px;
}

#game {
    display: flex;
}

.correct-answer {
    background-color: palegreen;
}

.wrong-answer {
    background-color: crimson;
}

.true-button {
    background-color: rgb(23, 139, 23);
}

.false-button {
    background-color: rgb(241, 44, 44);
}

button {
    margin: 10px 5px 0 5px;
    color: white;
}